@import url('https://fonts.googleapis.com/css?family=Raleway|Didact+Gothic|Josefin+Sans:300,700');

body
{
    background: url("./images/roman-serdyuk-unsplash-woodfloor-rotatedBG.jpg");
    background-size: contain;
    font-family: 'Didact Gothic', sans-serif;
}

#container
{
    background-color: white;
    margin: 5%;
    -webkit-box-shadow: 20px 15px 20px black;
            box-shadow: 20px 15px 20px black;
    max-width: 90vw;
}

h2, h3, h4
{
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
}

h4 
{
    font-size: 2em;
}

a
{
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .75em;
    text-decoration: none;
    color: black;
}

header
{
    font-family: 'Raleway', sans-serif;
    color: #121212;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    margin: 10px 40px;
    margin-bottom: 0;
    z-index: 10;
    padding: 10px;
}

header > h1
{
    -webkit-box-flex: 5;
        -ms-flex: 5 5 100px;
            flex: 5 5 100px;
    font-size: 1.5rem;
}

.small
{
    font-size: .75rem;
}

header nav a
{
    font-family: 'Raleway', sans-serif;
    color: black;
    font-size: 80%;
    margin: 5px;
}


b
{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.highlight
{
    font-family: 'Josefin Sans', sans-serif;
    color: #00D2FF;
    font-size: .75em;
    font-weight: 700;
    text-transform: uppercase;
}

.big
{
    font-size: 3em;
}

.superBig
{
    font-size: 5em;
    font-weight: 700;
}

#banner
{
    position: relative;
    padding:0;
    margin:0;
    height: 500px;
    overflow: hidden;
    color: white;
}

#banner > div
{
    opacity: 0;
    -webkit-transition: 1s opacity;
    -o-transition: 1s opacity;
    transition: 1s opacity;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#banner > div.show
{
    opacity: 1;
    -webkit-transition: 1s opacity;
    -o-transition: 1s opacity;
    transition: 1s opacity;
}

#banner > div img
{
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;

    z-index: -5;
}

#banner > div > div
{
    position: absolute;
    top: 30%;
    left: 70%;
    text-align: right;
    z-index: 1;
}

#welcome
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    padding: 50px 20px;
}

#welcome_statement
{
    -webkit-box-flex: 2;
        -ms-flex: 2 1 200px;
            flex: 2 1 200px;
    margin: 20px;
}

#welcome > h3, #welcome h4
{
    margin: 10px;
    margin-left: 0;
}

#welcome p 
{
    font-size: .75em;
}

#welcome_img
{
    -webkit-box-flex: 1;
        -ms-flex: 1 1 450px;
            flex: 1 1 450px;
    background: url('./images/people-nik-macmillan-280300-unsplash.jpg') center;
    background-size: cover;
    height: 450px;
    margin: 10px;
    
}

#whyus
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin-top: 20px;
    padding: 50px 25px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#whyus_main 
{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 200px;
            flex: 0 0 200px;
    position: relative;
    background: url('./images/tate-joshua-fuller-378039-unsplash.jpg') center no-repeat;
    background-size: cover;
    padding-right: 15%;
    z-index: 0;
    max-height: 500px;
    min-height: 500px;
    margin-right: 20%;
}

#whyus_overlay
{
    position: absolute;
    top: 35%;
    left: 50%;
    width: 100%;
    height: 200px;
    background-image: url('./images/ceiling-tiago-almeida-185270-unsplash.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
}

#whyus_message
{
    -webkit-box-flex: 2;
        -ms-flex: 2 1 250px;
            flex: 2 1 250px;
    max-width: 650px;
    padding: 5% 5% 10% 0%;
}

#whyus_message > h3, #whyus_message h4
{
    margin: 10px;
    text-align: end;
}

#whyus_message > p
{
    font-size: .75em;
}

#services
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 50px 30px;
}

#services > div:first-child
{
    -webkit-box-flex: 1;
        -ms-flex: 1 0 250px;
            flex: 1 0 250px;
    margin: 20px;
}

#services > div h3, #services > div h4
{
    margin: 10px 0px;
    padding: 0;
}

#services > div > p
{
    font-size: .75em;
}

#services_images
{
    background: url('./images/services_image.png') center no-repeat;
    background-size: contain;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 450px;
            flex: 1 1 450px;  
    min-height: 400px;
    max-height: 600px;
    padding: 0;
}

#qualifications
{
    font-family: 'Josefin Sans', sans-serif;
}

#qualifications > p
{
    text-align: center;
    font-size: 1.75em;
    margin-bottom: 0px;
    padding: 0;
}

#stats
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    background-color: #F5F5F5;
    padding: 20px 30px;
    font-size: 1.5em;
}

#stats p
{
    text-align: center;
    -webkit-box-flex: 3;
        -ms-flex: 3 1 25%;
            flex: 3 1 25%;
    margin: 15px;
}

#callout
{
    background-image: url('./images/roman-serdyuk-unsplash-woodfloor.jpg');
    background-size: cover;
    color: white;
    width: 100%;
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#call2action
{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3em;
    font-weight: 300;
    margin: 10px;
}

#callout #text
{
    font-size: .75em;
    margin: 0px 10px 20px 10px;
}

#callout a
{
    background-color: #00D2FF;
    padding: 10px;
    color: white;
    font-size: .5em;
}

#examples
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;

    overflow: hidden;
}

#examples p
{
    font-size: 1.75em;
}

#examples h5, #examples p
{
    z-index: 1;
}

#examples>#header, #examples>#footer
{
    -webkit-box-flex: 1;
        -ms-flex: 1 0 250px;
            flex: 1 0 250px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding-left: 50px;
}

#examples>#footer
{
    padding: 0;
    text-align: center;
    margin: 20px;
}


#architecture, #penthouse, #construction, #museum
{
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 250px;
            flex: 1 0 250px;
    min-height: 400px;
    padding-top: 50px;
    padding-left: 50px;
    z-index: 1;
    overflow: hidden;
}

#architecture::after
{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('./images/modernhome-ehud-neuhaus-258936-unsplash.jpg');
    background-size: cover;
    background-position: center;
    opacity: .75;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#penthouse::after
{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('./images/balconies-grant-lemons-80424-unsplash.jpg');
    background-size: cover;
    background-position: center;
    opacity: .75;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#construction::after
{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('./images/buildings-rob-bye-13759-unsplash.jpg');
    background-size: cover;
    background-position: center;
    opacity: .75;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#museum::after
{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('./images/museum-nigel-tadyanehondo-328315-unsplash.jpg');
    background-size: cover;
    background-position: center;
    opacity: .75;
    width: 100%;
    height: 100%;
    z-index: -1;
}

footer
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    background-color: #F8F8F8;
}

footer a
{
    color: #00D2FF;
    text-transform: none;
    font-size: 1em;
}

#about
{
    -webkit-box-flex: 1;
        -ms-flex: 1 0 250px;
            flex: 1 0 250px;
    margin: 20px;
}

#contacts
{
    -webkit-box-flex: 1;
        -ms-flex: 1 0 150px;
            flex: 1 0 150px;
    margin: 20px;
}

footer > div  p, address
{
    font-size: .65em;
}

#form
{
    -webkit-box-flex: 2;
        -ms-flex: 2 0 25%;
            flex: 2 0 25%;
    margin: 20px 10px;
}

form input, textarea
{
    font-family: 'Didact Gothic', sans-serif; 
    border: 1px solid #2C2C2C;
    padding: 5px;
    margin: 5px;
    width: 95%;
}

footer button
{
    font-family: 'Josefin Sans', sans-serif;
    padding: 10px 100px;
    margin: 10px 5px;
    background-color: #2C2C2C;
    color: #00D2FF;
    font-weight: 700;
    border: none;
}

#credits 
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 10px 20px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    font-size: .75em;
    min-height: 50px;
}

#credits p
{
    width: 80%;
}

#social img
{
    width: 15px;
    height: 15px;
    margin: 3px
}

@media screen and (max-width: 960px)
{

    #banner
    {
        height: 450px;
    }

    #banner > div > div
    {
        top: 30%;
        left: 70%;
    }
}

@media screen and (max-width: 800px)
{
    
    #banner
    {
        height: 300px;
    }

    #banner > div > div
    {
        top: 25%;
        left: 45%;
    }

    #qualifications > p
    {
        margin-bottom: 0px;
    }

    #whyus_main
    {
        margin-left: 20%;
    }

    #whyus_overlay
    {
        display: none;
    }
}

@media screen and (max-width: 550px)
{
    header
    {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column wrap;
                flex-flow: column wrap;
    }

    header h1
    {
        font-size: 225%;
        -ms-flex-preferred-size: 50px;
            flex-basis: 50px;
    }

    header nav
    {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 100%;
        margin: 0;
    }

    header nav a
    {
        display: inline-block;
        margin: 5px 0px;
        font-size: 85%;
        width: 100%;
        text-align: center;
    }

    #banner
    {
        height: 200px;
    }
    
    #banner > div > div
    {
        top: 25%;
        left: 25%;
    }

    #banner > div > div h2
    {
        margin-bottom: 0;
    }
}




